* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mainFont;
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(./Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

html, body {
    height: 100%;
    font-family: mainFont;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: minmax(80px, 1fr) minmax(500px, 8fr);
    border: green 1px solid;
    background-color: rgb(24, 146, 211);
    color: white;
    grid-row: span 3;
}

header {
    border: blue 1px solid;
    background-color: rgb(130, 130, 213);
    grid-column: span 2;
}

main {
    border: red 1px solid;
    background-color: rgb(224, 123, 123);
}

aside {
    border: purple 1px solid;
    background-color: rgb(240, 149, 240);
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-self: center;
    align-self: center;
}

.logo-pic {
    align-content: center;
    justify-content: center;
}

nav {
    display: grid;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    grid-template-rows: 1fr 1.3fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 4fr;
}

.top-points {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-column: 2 / 2;
}

.bottom-points {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-column: 2 / 2;
}

.top-icons {
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

li img {
    width: 25px;
}

.top-icons li, .bottom-icons li {
    justify-self: end;
}

.bottom-icons {
    display: grid;
    grid-row: 2 / 2;
    grid-template-rows: repeat(3, 50px);
}